body {
    background-color: #f0f0f0;
    margin: 0;
}

/* inserindo seletores para cor */
header {
    background-color: darkgoldenrod;
    color: azure;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

/* destaques e fontes*/
main {
    background-color: aliceblue;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
}

.img1 img {
    width: 100px;
    height: 80px;
}

.txt {
    font-weight: bold;   
}

.btn-coracao {
    padding: 12px 24px;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
}

.btn-like {
padding: 12px 24px;
    font-size: 16px;
    white-space: nowrap;
    cursor: pointer;
}

article {
display: flex;
}