/* inserindo seletores para cor */
.header{
    background-color: darkgoldenrod;
    color: azure;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

/* destaques e fontes*/
.main{
    background-color: aliceblue;
    margin: 0 auto;
    padding: 16px;
    display: flex;
}

.img1{
    width: 100px;
    height: 80px;
}

.txt{
    font-weight: bold;  
}